<script>
  import Drop from './Drop.vue'
  import RadioGroup from './RadioGroup.vue'

  export default {
    data () {
      return {
        opened: true,
        sex: '',
        choosenCats: [],
        finallyChoosen: null,
        catLoading: false
      }
    },
    components: {
      'c-drop': Drop,
      'c-radio-group': RadioGroup
    },
    props: {
      clickable: {
        type: Boolean,
        default: true
      },
      prevCatPickerData: {
        type: Object,
        default: null,
        validator (prevCatPickerData) {
          return Object.keys(prevCatPickerData).length
        }
      },
      savedCatsDataAvailable: {
        type: Boolean
      }
    },
    computed: {
      sexes () {
        return this.$store.state.common.sexes
      },
      choosenCatsAmount () {
        return this.choosenCats.length
      },
      lastCatIndex () {
        const lastIndex = this.choosenCatsAmount - 1

        if (lastIndex < 0) {
          return 0
        }

        return lastIndex
      },
      breadcrumbs () {
        const latestCat = this.choosenCats[this.lastCatIndex],
              breadcrumbs = latestCat && latestCat.breadcrumbs || [],
              finallyChoosen = this.finallyChoosen

        if (finallyChoosen) {
          if (!this.clickable) {
            return this.choosenCats.concat(finallyChoosen)
          }

          return breadcrumbs.concat([finallyChoosen])
        }

        return breadcrumbs
      }
    },
    watch: {
      sex (newSexVal) {
        if (!this.savedCatsDataAvailable) {
          this.getCatChildren({url: newSexVal}, 0)
        }
      },
      prevCatPickerData (newVal) {
        if (newVal && this.savedCatsDataAvailable && !this.finallyChoosen) {
          const {sex, finallyChoosen, choosenCats} = this.prevCatPickerData,
                {url} = finallyChoosen

          this.sex = sex
          this.opened = false
          this.finallyChoosen = finallyChoosen
          this.choosenCats = choosenCats
          this.$emit('input', url)
        }
      }
    },
    methods: {
      checkChoosen (id) {
        const category = this.breadcrumbs
          .find(c => c.id === id)

        return Boolean(category)
      },
      toggleOpened () {
        if (this.finallyChoosen && this.clickable) {
          this.opened = !this.opened
        }
      },
      getCatChildren (category, index) {
        const url = category.url,
              isLast = category.is_last

        if (!isLast) {
          if (this.catLoading) {
            return undefined
          }

          this.catLoading = true
          this.finallyChoosen = null

          this.$store.dispatch('getCatChildren', url)
            .then(res => {
              this.choosenCats.push(res)
              this.catLoading = false
            })

          this.$emit('input', '')
        }
        else {
          this.finallyChoosen = category

          this.toggleOpened()
          this.$emit('input', url)
        }

        this.sliceCatFromIndex(index)
      },
      sliceCatFromIndex (index) {
        this.choosenCats.splice(index)
      },
      onTitleClick (index) {
        // Ignore click on title where plate index === 0
        this.sliceCatFromIndex(index ? index : 1)

        this.finallyChoosen = null
        this.$emit('input', '')
      },
      setBreadcrumbs (data) {
        this.choosenCats = data.slice(0, -1)
        this.finallyChoosen = data.slice(-1)[0]
      }
    }
  }
</script>

<template>
  <div :class="['f-cat-pick', {'f-cat-pick_bb': finallyChoosen}]">
    <div :class="['f-cat-pick__title', {'f-cat-pick__title_clickable': finallyChoosen && clickable}]"
         @click="toggleOpened">
      Выбор категории
      <svg class="f-cat-pick__title-ico"
           v-if="!opened"
           xmlns="http://www.w3.org/2000/svg"
           width="24"
           height="24"
           viewBox="0 0 24 24"
           fill="none"
           stroke="currentColor"
           stroke-width="2"
           stroke-linecap="round"
           stroke-linejoin="round">
        <polygon points="16 3 21 8 8 21 3 21 3 16 16 3"></polygon>
      </svg>
    </div>
    <ul :class="['f-cat-pick__bread', {'f-cat-pick__bread_clickable_no': !clickable}]"
        v-if="!opened || !clickable"
        @click="toggleOpened">
      <li class="f-cat-pick__bread-item-wrap"
          v-for="item in breadcrumbs"
          :key="item.id">
        <div class="f-cat-pick__bread-item">{{item.name}}</div>
        <svg xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24"
             width="24"
             height="24"
             class="f-cat-pick__bread-chevron">
          <path d="M9 18l6-6-6-6"
                fill="none"
                stroke="#7965b2"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
        </svg>
      </li>
    </ul>
    <div class="f-cat-pick__inner" v-else>
      <c-drop class="f-cat-pick__sex"
              placeholder="Для кого?"
              :data="sexes"
              :value="sex">
        <c-radio-group :data="sexes"
                       v-model="sex" />
      </c-drop>
      <transition name="fade" type="transition">
        <transition-group tag="div"
                          name="catpick"
                          class="f-cat-pick__plates"
                          v-if="sex && choosenCatsAmount">
          <div class="f-cat-pick__plate"
               v-for="(cat, index) in choosenCats"
               :key="cat.id">
            <div class="f-cat-pick__plate-title"
                 @click="onTitleClick(index)">
              <svg class="f-cat-pick__plate-title-ico"
                   v-if="index"
                   xmlns="http://www.w3.org/2000/svg"
                   width="24"
                   height="24"
                   viewBox="0 0 24 24"
                   fill="none"
                   stroke="currentColor"
                   stroke-width="2"
                   stroke-linecap="round"
                   stroke-linejoin="round">
                <polyline points="15 18 9 12 15 6"></polyline>
              </svg>
              {{cat.name}}
            </div>
            <div :class="[
                   'f-cat-pick__list-item',
                   {'f-cat-pick__list-item_choosen': checkChoosen(child.id)}
                 ]"
                 v-for="child in cat.children"
                 :key="child.id"
                 @click="getCatChildren(child, index+1)">
              {{child.name}}
            </div>
          </div>
        </transition-group>
      </transition>
    </div>
  </div>
</template>