<script>
  export default {
    data () {
      return {
        baseValue: true
      }
    },
    model: {
      prop: 'vModelValue',
      event: 'change'
    },
    props: {
      value: null,
      vModelValue: {
        type: null,
        default: ''
      },
      label: {
        type: String,
        default: ''
      },
      desc: {
        type: String,
        default: ''
      },
      oneline: {
        type: Boolean,
        default: true
      },
      disabled: {
        type: Boolean,
        default: false
      },
      required: {
        type: Boolean,
        default: false
      }
    },
    computed: {
      id () {
        // Hacky steal _uid from vue component
        return `id${this._uid}`
      },
      checked () {
        const vModelValue = this.vModelValue

        if (vModelValue instanceof Array) {
          const valueIndex = vModelValue.findIndex(item => item === this.value)

          return valueIndex !== -1
        }

        return vModelValue
      },
      computedOneline () {
        const {oneline, desc} = this

        if (!desc || !desc.length) {
          return oneline
        }

        return false
      }
    },
    methods: {
      onChange ({target}) {
        const vModelValue = this.vModelValue,
              checkbox = target,
              isChecked = Boolean(checkbox.checked)

        if (vModelValue instanceof Array) {
          const value = this.value,
                valueIndex = vModelValue.findIndex(item => item === value)

          if (isChecked) {
            if (valueIndex === -1) {
              const updatedArray = vModelValue.concat([value])

              this.$emit('change', updatedArray)
            }
          }
          else if (valueIndex !== -1) {
            const leftPart = vModelValue.slice(0, valueIndex),
                  rightPart = vModelValue.slice(valueIndex + 1),
                  updatedArray = leftPart.concat(rightPart)

            this.$emit('change', updatedArray)
          }
        }
        else {
          this.$emit('change', isChecked)
        }
      }
    }
  }
</script>

<template>
  <label :class="['f-checkbox', {'f-checkbox_oneline': computedOneline}]"
         :for="id">
    <input class="f-checkbox__input"
           type="checkbox"
           @change="onChange"
           v-bind="{checked, id, disabled, required}" />
    <span :class="['f-checkbox__fakeinp', {'f-checkbox__fakeinp_checked': checked}]">
      <svg :class="['f-checkbox__fakeinp-ico', {
             'f-checkbox__fakeinp-ico_disabled': disabled,
             'f-checkbox__fakeinp-ico_checked': checked
           }]"
           xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 24 24"
           width="24"
           height="24">
        <path style="stroke:white;stroke-width:8px;"
              d="M20 6L9 17l-5-5" />
        <path d="M20 6L9 17l-5-5" />
      </svg>
    </span>
    <span :class="['f-checkbox__label', {'f-checkbox__label_oneline': computedOneline}]">
      <slot v-if="$slots.default" />
      <span v-else-if="label">{{label}}</span>
      <span class="f-checkbox__desc" v-if="desc">
        {{desc}}
      </span>
    </span>
  </label>
</template>