<script>
  import Checkbox from './Checkbox.vue'

  export default {
    data () {
      return {
        control: true // flag for filtration component
      }
    },
    props: {
      data: {
        type: Array,
        default: () => []
      },
      value: null
    },
    components: {
      'c-checkbox': Checkbox
    },
    methods: {
      onChange (newVal) {
        this.$emit('input', newVal)
      }
    }
  }
</script>

<template>
  <div class="f-controls-group">
    <c-checkbox v-for="(item, index) in data"
                :key="index"
                :value="item.value"
                :label="item.name"
                :desc="item.description"
                :v-model-value="value"
                @change="onChange" />
  </div>
</template>