<script>
  import Radio from './Radio.vue'
  import Checkbox from './Checkbox.vue'

  export default {
    data () {
      return {
        control: true
      }
    },
    props: {
      data: {
        type: Array,
        default: () => []
      },
      value: null,
      multiple: {
        type: Boolean,
        default: false
      }
    },
    components: {
      'c-radio': Radio,
      'c-checkbox': Checkbox
    },
    methods: {
      onChange (newVal) {
        this.$emit('input', newVal)

        // If wrapped in Drop component
        if (this.value !== null && !this.multiple) {
          this.$parent.$emit('closeDrop')
        }
      }
    }
  }
</script>

<template>
  <div class="f-controls-group">
    <template v-if="!multiple">
      <c-radio v-for="(item, index) in data"
               :key="index"
               :value="item.value"
               :desc="item.description"
               :v-model-value="value"
               @change="onChange">
        <span class="f-color-pick"
              :style="img(item.url)"></span>
        <span>{{item.name}}</span>
      </c-radio>
    </template>
    <template v-else>
      <c-checkbox v-for="(item, index) in data"
                  :key="index"
                  :value="item.value"
                  :desc="item.description"
                  :v-model-value="value"
                  @change="onChange">
        <span class="f-color-pick"
              :style="img(item.url)"></span>
        <span>{{item.name}}</span>
      </c-checkbox>
    </template>
  </div>
</template>