<script>
  export default {
    model: {
      prop: 'data'
    },
    data () {
      return {
        originalData: [],
        inpValue: '',
        minLength: 2
      }
    },
    props: {
      data: {
        // Assume array like [{name, value}]
        type: Array,
        required: true
      },
      placeholder: {
        type: String,
        default: 'Поиск'
      }
    },
    methods: {
      onInput ({target}) {
        const value = target.value.trim(),
              oldValue = this.inpValue

        this.inpValue = value

        // Do nothing if user typed only first letter
        if (!oldValue.length) {
          return undefined
        }

        if (value === '' || value.length < this.minLength) {
          this.restoreOriginalData()
        }
        else {
          let data

          if (value.indexOf(oldValue) === 0) {
            // If user types like 'Ke' -> 'Kel'
            // we can use lesser and already filtered data
            data = this.data
          }
          else {
            // Othwerwise use full data list
            data = this.originalData
          }

          const filteredData = data
            .filter(e => e.name.toLowerCase().indexOf(value.toLowerCase()) !== -1)

          this.$emit('input', filteredData)
        }
      },
      restoreOriginalData () {
        this.$emit('input', this.originalData)
      },
      clearValue () {
        this.inpValue = ''
        this.restoreOriginalData()
      }
    },
    created () {
      this.$nextTick(() => {
        const serializedValue = JSON.stringify(this.data)

        // Deep clone through json serialize/parse
        this.originalData = JSON.parse(serializedValue)
      })
    },
    destroyed () {
      this.restoreOriginalData()
    }
  }
</script>

<template>
  <div class="f-group-filter">
    <svg class="f-group-filter__ico"
         xmlns="http://www.w3.org/2000/svg"
         width="24"
         height="24"
         viewBox="0 0 24 24"
         fill="none"
         stroke="currentColor"
         stroke-width="2"
         stroke-linecap="round"
         stroke-linejoin="round">
      <circle cx="11" cy="11" r="8"></circle>
      <line x1="21"
            y1="21"
            x2="16.65"
            y2="16.65"></line>
    </svg>
    <input class="f-group-filter__inp"
           :value="inpValue"
           placeholder="Поиск"
           @input="onInput">
    <transition name="fast-fade"
                type="transition">
      <div class="f-group-filter__clear"
           v-show="inpValue"
           @click="clearValue">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="24"
             height="24"
             viewBox="0 0 24 24"
             fill="none"
             stroke="currentColor"
             stroke-width="2"
             stroke-linecap="round"
             stroke-linejoin="round">
          <line x1="18"
                y1="6"
                x2="6"
                y2="18"></line>
          <line x1="6"
                y1="6"
                x2="18"
                y2="18"></line>
        </svg>
      </div>
    </transition>
  </div>
</template>