<script>
  export default {
    data () {
      return {
        opened: false,
        lable: '',
        dropMaxHeight: 249
      }
    },
    props: {
      placeholder: {
        type: String,
        required: true
      },
      disabled: {
        type: Boolean,
        default: false
      },
      value: null,
      checkboxes: {
        type: Boolean,
        default: false
      },
      data: Array,
      required: {
        type: Boolean,
        default: false
      }
    },
    computed: {
      placeholderShifted () {
        const value = this.value

        if (
          this.checkboxes &&
          value instanceof Array
        ) {
          return value.length
        }

        return value !== undefined && value !== ''
      },
      id () {
        // Hacky steal _uid from vue component
        return `id${this._uid}`
      }
    },
    watch: {
      value () {
        this.setLable()
      },
      data () {
        const scrollContent = this.$el.querySelector('.vb-content')

        this.setLable()

        if (scrollContent) {
          scrollContent.scrollTop = 0
        }
      }
    },
    methods: {
      toggleOpened () {
        if (!this.disabled) {
          this.opened = !this.opened

          // Limit drop height if its content height
          // greater than 'dropMaxHeight'
          this.$nextTick(() => {
            const scrollWrap = this.$refs.scroll,
                  dropMaxHeight = this.dropMaxHeight

            if (
              this.opened &&
              scrollWrap &&
              scrollWrap.clientHeight > dropMaxHeight
            ) {
              scrollWrap.style.height = `${dropMaxHeight}px`
            }
          })
        }
      },
      hide ({target}) {
        // Hide dropdown if click was made
        // somewhere outside of this component
        if (!target.closest(`#${this.id}`)) {
          this.opened = false
        }
      },
      setLable () {
        const {data, value} = this
        let newLable = ''

        if (data instanceof Array) {
          // If CheckGroup inside
          if (
            this.checkboxes &&
            value instanceof Array
          ) {
            const valuesCount = value.length

            // Simply show amount of checked items
            if (valuesCount) {
              newLable = `Выбрано значений: ${valuesCount}`
            }
          }
          else {
            // If RadioGroup inside we trying to
            // find in provided data item with current
            // value and return it's name for lable
            const currentItem = data
              .find(e => e.value === value)

            if (currentItem) {
              newLable = currentItem.name
            }
          }
        }

        this.lable = newLable
      }
    },
    created () {
      this.$on('closeDrop', this.toggleOpened)

      this.setLable()
    },
    mounted () {
      document.addEventListener('click', this.hide)
    },
    destroyed () {
      document.removeEventListener('click', this.hide)
    }
  }
</script>

<template>
  <div class="f-drop" :id="id">
    <div class="f-drop__title"
         @click="toggleOpened">
      <div :class="['f-drop__placeholder', {'f-drop__placeholder_shifted': placeholderShifted}]">
        {{placeholder}}
      </div>
      <div class="f-drop__wrapper">
        <input class="f-drop__validity-inp"
               :value="value"
               :required="required"
               :name="`dropname${id}`">
        <div :class="['f-drop__value', {'f-drop__value_disabled': disabled}]">{{lable}}</div>
        <transition name="drop" mode="out-in">
          <div class="f-drop__ico"
               v-if="disabled"
               key="1">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="#8c959c"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round">
              <rect x="3"
                    y="11"
                    width="18"
                    height="11"
                    rx="2"
                    ry="2"></rect>
              <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
            </svg>
          </div>
          <div class="f-drop__ico"
               v-else-if="opened"
               key="2">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round">
              <polyline points="6 15 12 9 18 15"></polyline>
            </svg>
          </div>
          <div class="f-drop__ico" v-else key="3">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round">
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
          </div>
        </transition>
      </div>
    </div>
    <transition name="soft-drop"
                type="transition">
      <div class="f-drop__droppable"
           v-if="opened"
           ref="droppable">
        <slot name="filter" />
        <div class="f-drop__scroll"
             ref="scroll"
             v-bar>
          <slot />
        </div>
      </div>
    </transition>
  </div>
</template>