<script>
  export default {
    data () {
      return {
        visible: false,
        isMouseOverMenu: false
      }
    },
    props: {
      name: String,
      items: [Array, null],
      isTitleClickable: {
        type: Boolean,
        default: false
      },
      selfURI: {
        type: String
      }
    },
    methods: {
      checkBordersCollision () {
        const drop = this.$refs.drop

        if (!drop) {
          return undefined
        }

        const minLeft = 0,
              maxRight = window.innerWidth,
              {left, right} = drop.getBoundingClientRect()

        if (left < minLeft) {
          drop.style.transform = `translateX(${-left}px)`
        }
        else if (right > maxRight) {
          drop.style.transform = `translateX(${-(right - maxRight)}px)`
        }
        else {
          drop.style.transform = ''
        }
      },
      show () {
        this.visible = true
        setTimeout(() => {
          this.checkBordersCollision()
        }, 200)
      },
      hide () {
        const drop = this.$refs.drop

        if (!drop) {
          return undefined
        }

        drop.style.transform = ''
        this.visible = false
      },
      onMouseenter () {
        this.isMouseOverMenu = true

        setTimeout(() => {
          if (this.isMouseOverMenu) {
            this.show()
          }
        }, 180)
      },
      onMouseleave () {
        this.isMouseOverMenu = false

        setTimeout(() => {
          if (!this.isMouseOverMenu) {
            this.hide()
          }
        }, 150)
      },
      onClick () {
        this.hide()
        this.isMouseOverMenu = false
      },
      onSelfClick () {
        const selfURI = this.selfURI

        if (this.isTitleClickable && selfURI) {
          this.hide()
          this.$router.push(this.selfURI)
        }
        else {
          this.isMouseOverMenu = true
          this.show()
        }
      }
    }
  }
</script>

<template>
  <div @mouseenter="onMouseenter"
       @mouseleave="onMouseleave"
       @click.self="onSelfClick">
    {{name}}
    <slot />
    <div :class="['f-hover-drop', {'f-hover-drop_visible': visible}]"
         ref="drop">
      <router-link class="f-hover-drop__link"
                   v-for="item in items"
                   :key="item.id"
                   :to="item.url"
                   @click.native="onClick">
        {{item.name}}
      </router-link>
      <slot name="drop" />
    </div>
  </div>
</template>