<script>
  export default {
    data () {
      return {
        resultedPlaceholder: '',
        inpFocused: false,
        touched: false,
        valid: undefined,
        pattern: null,
        minlength: null,
        maxlength: null,
        mask: ''
      }
    },
    props: {
      value: null,
      type: {
        type: String,
        default: 'text',
        validator (val) {
          const types = [
            'email',
            'password',
            'phone',
            'lastname',
            'name',
            'midname',
            'text',
            'login',
            'num'
          ]

          return types.find(type => type === val)
        }
      },
      required: {
        type: Boolean,
        default: true
      },
      disabled: {
        type: Boolean,
        default: false
      },
      placeholder: {
        type: [String, null]
      },
      showIcon: {
        type: Boolean,
        default: true
      },
      min: Number,
      max: Number
    },
    methods: {
      onInput (e) {
        const value = e.target.value.trim()

        // Validation logic here
        if (this.touched) {
          if (!value) {
            if (this.required) {
              this.valid = false
            }
            else {
              this.valid = undefined
            }
          }
          else {
            this.valid = this.$refs.inp.checkValidity()
          }
        }

        // Type 'num' is special case
        if (this.type === 'num') {
          const castedValue = parseInt(value, 10)

          if (!isNaN(castedValue)) {
            this.$emit('input', castedValue)
          }
          else {
            this.$emit('input', '')
          }
        }
        else {
          this.$emit('input', value)
        }

        this.inpFocused = true
      },
      onFocus () {
        this.inpFocused = true
      },
      onBlur () {
        this.$nextTick(() => {
          this.$emit('blur')

          // Validation logic here
          if (!this.touched) {
            if (!this.value) {
              if (this.required) {
                this.valid = false
              }
              else {
                this.valid = undefined
              }
            }
            else {
              this.valid = this.$refs.inp && this.$refs.inp.checkValidity()
            }
          }

          this.touched = true
          this.inpFocused = false

          this.$forceUpdate()
        })
      },
      focus () {
        this.$refs.inp.focus()
      }
    },
    computed: {
      placeholderShifted () {
        return this.value !== '' &&
          this.value !== undefined ||
          this.inpFocused
      },
      name () {
        return `inp${this._uid}`
      }
    },
    created () {
      const placeholders = {
              email: 'E-mail',
              password: 'Пароль',
              phone: 'Телефон',
              lastname: 'Фамилия',
              name: 'Имя',
              midname: 'Отчество',
              login: 'Логин'
            },
            patterns = {
              email: '^[A-Za-z0-9._%+-]{2,}@[a-zA-Z]{2,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})$',
              phone: '^(8|\\+7)[\\s][\\(](\\d{3})[\\)][\\s](\\d{3})-(\\d{2})-(\\d{2})$',
              lastname: '^[a-zA-Zа-яА-Я- ]{2,}$',
              name: '^[a-zA-Zа-яА-Я]{2,}$',
              midname: '^[a-zA-Zа-яА-Я]{2,}$',
              login: '^[^(user)][a-zA-Z0-9]{4,}$'
            },
            lengths = {
              password: 8,
              repassword: 8,
              lastname: 2,
              name: 2,
              midname: 2,
              login: 4
            },
            masks = {
              phone: '+7 (###) ###-##-##',
              num: '##########'
            },
            type = this.type,
            placeholder = this.placeholder,
            disabled = this.disabled

      if (placeholder) {
        this.resultedPlaceholder = placeholder
      }
      else if (type in placeholders) {
        this.resultedPlaceholder = placeholders[type]
      }

      if (type in patterns) {
        this.pattern = patterns[type]
      }

      if (typeof this.max === 'number') {
        this.maxlength = this.max
      }

      if (typeof this.min === 'number') {
        this.minlength = this.min
      }
      else if (type in lengths) {
        this.minlength = lengths[type]
      }

      if (type in masks) {
        this.mask = masks[type]
      }

      if (disabled) {
        this.valid = true
      }
    },
    mounted () {
      // Validate early if input prefilled
      this.$nextTick(() => {
        const inp = this.$refs.inp

        if (this.value && inp) {
          this.valid = inp.checkValidity()
        }
      })
    }
  }
</script>

<template>
  <div class="f-inp">
    <div :class="['f-inp__placeholder', {'f-inp__placeholder_shifted': placeholderShifted}]"
         v-if="resultedPlaceholder"
         @click="focus">
      {{resultedPlaceholder}}
    </div>
    <div class="f-inp__wrapper">
      <input :class="['f-inp__input',
               {'f-inp__input_disabled': disabled},
               {'f-inp__input_centered': !showIcon},
             ]"
             :type="type"
             :required="required"
             :pattern="pattern"
             :minlength="minlength"
             :maxlength="maxlength"
             :value="value"
             :disabled="disabled"
             @input="onInput"
             @focus="onFocus"
             @blur="onBlur"
             @invalid="invalid = false"
             autocomplete="false"
             v-mask="mask"
             :name="name"
             ref="inp"/>
      <transition name="drop" mode="out-in">
        <svg v-if="disabled && showIcon"
             class="f-inp__ico"
             xmlns="http://www.w3.org/2000/svg"
             width="24"
             height="24"
             viewBox="0 0 24 24"
             fill="none"
             stroke="#8c959c"
             stroke-width="2"
             stroke-linecap="round"
             stroke-linejoin="round">
          <rect x="3"
                y="11"
                width="18"
                height="11"
                rx="2"
                ry="2"></rect>
          <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
        </svg>
        <svg v-else-if="valid && showIcon"
             class="f-inp__ico"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24"
             width="24"
             height="24"
             key="1">
          <path style="fill:none;stroke:#a4c424;stroke-width:2;stroke-linecap:round;stroke-linejoin:round"
                d="M20 6L9 17l-5-5"/>
        </svg>
        <svg v-else-if="valid !== undefined && showIcon"
             class="f-inp__ico"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24"
             width="24"
             height="24"
             key="2">
          <path style="fill:none;stroke:#df5b56;stroke-width:2;stroke-linecap:round;stroke-linejoin:round"
                d="M18 6L6 18M6 6l12 12"/>
        </svg>
      </transition>
    </div>
  </div>
</template>