<script>
  import Inp from './Inp.vue'

  export default {
    data () {
      return {
        control: true
      }
    },
    props: {
      data: {
        type: Array,
        default: () => []
      },
      value: Array,
      prices: Array
    },
    methods: {
      checkBounds (num) {
        const [min, max] = this.prices

        if (num < min || num > max) {
          return false
        }

        return true
      },
      onMinInput (newValue) {
        const [oldValue, currentMax] = this.value

        if (
          newValue < currentMax &&
          this.checkBounds(newValue)
        ) {
          this.$emit('input', [newValue, currentMax])
        }
        else {
          this.$emit('input', [oldValue, currentMax])
        }
      },
      onMaxInput (newValue) {
        const [currentMin, oldValue] = this.value

        if (
          newValue > currentMin &&
          this.checkBounds(newValue)
        ) {
          this.$emit('input', [currentMin, newValue])
        }
        else {
          this.$emit('input', [currentMin, oldValue])
        }
      }
    },
    components: {
      'c-inp': Inp
    }
  }
</script>

<template>
  <div class="f-price-chooser">
    <div class="f-price-chooser__inner">
      <c-inp class="f-price-chooser__inp"
             type="num"
             :value="value[0]"
             @input="onMinInput"
             placeholder="От"
             :showIcon="false" />
      <c-inp class="f-price-chooser__inp"
             type="num"
             :value="value[1]"
             @input="onMaxInput"
             placeholder="До"
             :showIcon="false" />
    </div>
    <span class="f-price-chooser__currency">Руб</span>
  </div>
</template>