<script>
  export default {
    model: {
      prop: 'vModelValue',
      event: 'change'
    },
    props: {
      value: {
        type: [String, Number],
        required: true,
        default: ''
      },
      vModelValue: {
        type: [String, Number],
        default: ''
      },
      disabled: {
        type: Boolean,
        default: false
      },
      label: {
        type: String,
        default: ''
      },
      desc: {
        type: String,
        default: ''
      },
      oneline: {
        type: Boolean,
        default: true
      }
    },
    computed: {
      id () {
        // Hacky steal _uid from vue component
        return `id${this._uid}`
      },
      checked () {
        return this.value === this.vModelValue
      },
      computedOneline () {
        const {oneline, desc} = this

        if (!desc || !desc.length) {
          return oneline
        }

        return false
      }
    }
  }
</script>

<template>
  <label :class="['f-checkbox', {'f-checkbox_oneline': computedOneline}]"
         :for="id">
    <input class="f-checkbox__input"
           type="radio"
           @change="$emit('change', value)"
           v-bind="{checked, id, disabled}" />
    <span :class="['f-checkbox__fakeinp', 'f-checkbox__fakeinp_radio', {'f-checkbox__fakeinp_checked': checked}]">
      <svg :class="['f-checkbox__fakeinp-ico', {
             'f-checkbox__fakeinp-ico_disabled': disabled,
             'f-checkbox__fakeinp-ico_checked': checked
           }]"
           xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 24 24"
           width="24"
           height="24">
        <path style="stroke:white;stroke-width:8px;"
              d="M20 6L9 17l-5-5" />
        <path d="M20 6L9 17l-5-5" />
      </svg>
    </span>
    <span :class="['f-checkbox__label', {'f-checkbox__label_oneline': computedOneline}]">
      <slot v-if="$slots.default" />
      <span v-else-if="label">{{label}}</span>
      <span class="f-checkbox__desc" v-if="desc">
        {{desc}}
      </span>
    </span>
  </label>
</template>