<script>
  import Radio from './Radio.vue'

  export default {
    data () {
      return {
        control: true
      }
    },
    props: {
      data: {
        type: Array,
        default: () => []
      },
      value: null
    },
    components: {
      'c-radio': Radio
    },
    methods: {
      onChange (newVal) {
        this.$emit('input', newVal)

        // If wrapped in Drop component
        if (this.value !== null) {
          this.$parent.$emit('closeDrop')
        }
      }
    }
  }
</script>

<template>
  <div class="f-controls-group">
    <c-radio v-for="(item, index) in data"
             :key="index"
             :value="item.value"
             :label="item.name"
             :desc="item.description"
             :v-model-value="value"
             @change="onChange" />
  </div>
</template>