<script>
  import Login from './Login.vue'
  import Reg from './Reg.vue'
  import NetworkError from './NetworkError.vue'
  import NewPass from './NewPass.vue'
  import RestorePass from './RestorePass.vue'
  import UpdatePass from './UpdatePass.vue'
  import ConfirmationResended from './ConfirmationResended.vue'
  import ThankForOrder from './ThankForOrder.vue'
  import ProductsAlreadySold from './ProductsAlreadySold.vue'
  import Privacy from './Privacy.vue'
  import Agreement from './Agreement.vue'
  import PhotoAdvice from './PhotoAdvice.vue'
  import PhotoRemoveConfirm from './PhotoRemoveConfirm.vue'
  import LayoutAdvice from './LayoutAdvice.vue'
  import MeasureAdvice from './MeasureAdvice.vue'
  import SizesTable from './SizesTable.vue'
  import CancellationReason from './CancellationReason.vue'
  import DeleteProdConfirm from './DeleteProdConfirm.vue'
  import EditCancellationConfirm from './EditCancellationConfirm.vue'
  import SomethingWrongWithProd from './SomethingWrongWithProd.vue'
  import Boxberry from './Boxberry.vue'

  // Do nothing
  function noop () {
    return undefined
  }


  // Modal usage
  // Just call from any component "modal" method:
  //   this.modal('c-photo-remove-confirm')
  //     .then()

  export default {
    data () {
      return {
        // List of modals which can't be
        // closed by click on overlay
        nonClosableModals: [
          'c-network-error',
          'c-restore-pass',
          'c-new-pass',
          'c-privacy',
          'c-agreement',
          'c-layout-advice'
        ]
      }
    },
    computed: {
      modalObj () {
        return this.$store.state.modal
      },
      name () {
        return this.modalObj.name
      },
      data () {
        return this.modalObj.data
      },
      close () {
        return this.modalObj.close || noop
      }
    },
    components: {
      'c-network-error': NetworkError
    },
    methods: {
      setModal (modal) {
        // Respect already opened error modal
        if (this.modalObj.name === 'c-network-error') {
          return undefined
        }

        if (typeof window !== 'undefined') {
          const documentElement = document.documentElement,
                scrollAmount = window.pageYOffset || documentElement.scrollTop

          documentElement.style.top = `-${scrollAmount}px`
          // Disable browser batching
          noop(documentElement.clientHeight)
          documentElement.classList.add('g-html-fixed')
        }

        this.bus.$emit('setBurger', false)

        this.$store.commit('SET_MODAL', modal)
      },
      closeModal (data) {
        // resolve promise or noop
        this.close(data)

        if (typeof window !== 'undefined') {
          const body = document.body,
                documentElement = document.documentElement,
                scrollAmount = Math.abs(parseInt(documentElement.style.top, 10))

          documentElement.style.top = ''
          documentElement.classList.remove('g-html-fixed')

          documentElement.scrollTop = scrollAmount
          body.scrollTop = scrollAmount
        }

        this.$store.commit('CLOSE_MODAL')
      },
      onOverlayClick () {
        const modalName = this.name,
              isClosable = this.nonClosableModals.indexOf(modalName) === -1

        if (isClosable) {
          this.closeModal()
        }
      },
      makeClosableCurrentModal () {
        const {nonClosableModals} = this,
              index = nonClosableModals.findIndex(m => m === this.name)

        if (index !== -1) {
          nonClosableModals.splice(index, 1)
        }
      }
    },
    created () {
      this.bus
        .$on('setModal', this.setModal)
        .$on('closeModal', this.closeModal)
    }
  }
</script>

<template>
  <transition name="fade" type="transition">
    <div class="f-overlay"
         @click.self="onOverlayClick"
         v-if="modalObj.name">
      <transition name="fade"
                  type="transition"
                  mode="out-in">
        <!--
          Just call from modal comp "close"
          method with some optional data and
          it will be closed
         -->
        <component :is="name"
                   :data="data"
                   :close="closeModal"
                   @makeMeClosable="makeClosableCurrentModal"/>
      </transition>
    </div>
  </transition>
</template>
