<script>
  import modalWindow from './modalWindow.js'


   // Data format -> 'where:who:code' ex: 'b:s:500'
   // Possible values
   // where: b - in browser, n - in node env
   // who: c - frontend-related error, s - backend-related error
   // code: optional, maybe server response status, like 500 or 404

  export default {
    extends: modalWindow,
    methods: {
      reloadPage () {
        location.reload()
      }
    }
  }
</script>

<template>
  <div class="f-modal">
    <div class="f-modal__title">Произошла ошибка сети :(</div>
    <div class="f-modal__block">
      <p class="f-modal__text">Нам очень жаль, но произошла ошибка во время запроса к серверу.</p>
      <p class="f-modal__text">Попробуйте перезагрузить страницу или свяжитесь с администратором.</p>
    </div>
    <div class="f-modal__err f-modal__err_visible">Ошибка {{data}}</div>
    <div class="g-btn f-modal__btn" @click="reloadPage">
      Перезагрузить
      <div class="g-btn__ico"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rotate-cw"><path d="M23 4v6h-6"/><path d="M20.49 15a9 9 0 1 1-2.12-9.36L23 10"/></svg></div>
    </div>
  </div>
</template>