<script>
  import DataFilter
    from '../controls/DataFilter.vue'

  export default {
    data () {
      return {
        opened: false,
        localData: [],
        localVModel: undefined,
        searchVisible: false,
        dropMaxHeight: 249
      }
    },
    props: {
      filterName: {
        type: String,
        required: true
      },
      value: null,
      checkboxes: {
        type: Boolean,
        default: false
      },
      data: Array,
      type: {
        type: String,
        default: ''
      }
    },
    components: {
      'c-data-filter': DataFilter
    },
    computed: {
      id () {
        // Hacky steal _uid from vue component
        return `id${this._uid}`
      },
      showResetBtn () {
        const {type} = this

        if (type !== 'price' && type !== 'sort') {
          return Boolean(this.localVModel.length)
        }

        return false
      },
      active () {
        const {type} = this

        if (type !== 'price' && type !== 'sort') {
          return Boolean(this.localVModel.length)
        }

        return true
      },
      disabled () {
        const {type} = this

        if (type !== 'price' && type !== 'sort') {
          return this.data.length === 1
        }

        return false
      },
      lable () {
        const {type, filterName, localVModel, data} = this

        if (type === 'sort') {
          const associatedData = this.data
            .find(d => d.value === localVModel)

          if (associatedData) {
            return `${filterName}: ${associatedData.name}`
          }

          return filterName
        }
        else if (data.length === 1) {
          return `${filterName}: ${data[0].name}`
        }
        else if (
          type === 'price' ||
          localVModel.length === 0
        ) {
          return filterName
        }
        else if (localVModel.length === 1) {
          const associatedData = this.data
            .find(d => d.value === localVModel[0])

          if (associatedData) {
            return `${filterName}: ${associatedData.name}`
          }

          return filterName
        }


        return `${filterName}: ${localVModel.length}`
      }
    },
    watch: {
      value () {
        if (this.type !== 'sort') {
          this.localVModel = [].concat(this.value)
        }
        else {
          this.localVModel = this.value
        }
      },
      data () {
        const scrollContent = this.$el.querySelector('.vb-content')

        if (scrollContent) {
          scrollContent.scrollTop = 0
        }

        this.localData = [].concat(this.data)
      }
    },
    methods: {
      commitVModel () {
        if (JSON.stringify(this.localVModel) !== JSON.stringify(this.value)) {
          this.$emit('input', this.localVModel)
        }

        this.opened = false
      },
      toggleOpened ({target}) {
        if (this.disabled || target.dataset.resetBtn) {
          return undefined
        }

        this.opened = !this.opened

        this.$nextTick(() => {
          if (this.opened) {
            // Here is dirty hack to listen
            // vmodel's events from slot
            const control = this.$children.find(c => c.control)

            if (control) {
              control.$on('input', value => {
                this.localVModel = value
              })
            }
          }
          else {
            this.searchVisible = false
            // Restore original data for
            // case when local was filtered
            this.localData = [].concat(this.data)
            this.commitVModel()
          }

          // Limit drop height if it's content height
          // greater than dropMaxHeight
          const scrollWrap = this.$refs.scroll,
                dropMaxHeight = this.dropMaxHeight

          if (
            this.opened &&
            scrollWrap &&
            scrollWrap.clientHeight > dropMaxHeight
          ) {
            this.searchVisible = true
            scrollWrap.style.height = `${dropMaxHeight}px`
          }
        })
      },
      hide ({target}) {
        if (!this.opened) {
          return undefined
        }

        // Hide dropdown if click was taken
        // somewhere outside of this component
        if (!target.closest(`#${this.id}`)) {
          this.commitVModel()
        }
      },
      reset () {
        this.$nextTick(() => {
          const {type} = this

          if (type !== 'price' && type !== 'sort') {
            this.$emit('input', [])
            this.opened = false
          }
        })
      }
    },
    created () {
      this.localData = [].concat(this.data)

      if (this.type !== 'sort') {
        this.localVModel = [].concat(this.value)
      }
      else {
        this.localVModel = this.value
      }
    },
    mounted () {
      document.addEventListener('click', this.hide)
    },
    destroyed () {
      document.removeEventListener('click', this.hide)
    }
  }
</script>

<template>
  <div class="f-filter-wrap" :id="id">
    <div class="f-filter-wrap__head" :class="{
           'f-filter-wrap__head_active': active,
           'f-filter-wrap__head_disabled': disabled
         }" @click="toggleOpened">
      <div :class="['f-filter-wrap__name', {'f-filter-wrap__name_disabled': disabled}]">
        {{lable}}
      </div>
      <div class="f-filter-wrap__ico"
           v-show="!disabled">
        <transition name="soft-drop"
                    mode="out-in">
          <svg class="f-filter-wrap__ico-svg"
               v-if="showResetBtn"
               data-reset-btn="true"
               key="1"
               @click="reset"
               xmlns="http://www.w3.org/2000/svg"
               width="24"
               height="24"
               viewBox="0 0 24 24"
               fill="none"
               stroke="currentColor"
               stroke-width="2"
               stroke-linecap="round"
               stroke-linejoin="round">
            <line x1="18"
                  y1="6"
                  x2="6"
                  y2="18"></line>
            <line x1="6"
                  y1="6"
                  x2="18"
                  y2="18"></line>
          </svg>
          <svg class="f-filter-wrap__ico-svg"
               v-else-if="opened"
               key="2"
               xmlns="http://www.w3.org/2000/svg"
               width="24"
               height="24"
               viewBox="0 0 24 24"
               fill="none"
               stroke="currentColor"
               stroke-width="2"
               stroke-linecap="round"
               stroke-linejoin="round">
            <polyline points="6 15 12 9 18 15"></polyline>
          </svg>
          <svg class="f-filter-wrap__ico-svg"
               v-else
               key="3"
               xmlns="http://www.w3.org/2000/svg"
               width="24"
               height="24"
               viewBox="0 0 24 24"
               fill="none"
               stroke="currentColor"
               stroke-width="2"
               stroke-linecap="round"
               stroke-linejoin="round">
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </transition>
      </div>
    </div>
    <transition name="soft-drop"
                type="transition">
      <div class="f-filter-wrap__droppable"
           v-if="opened"
           ref="droppable">
        <c-data-filter v-model="localData"
                       v-if="searchVisible" />
        <div class="f-filter-wrap__scroll"
             ref="scroll"
             v-bar>
          <slot :localData="localData"
                :localVModel="localVModel" />
        </div>
        <div class="g-btn g-btn_tiny g-btn_jc_c g-header__drop-btn"
             @click="commitVModel">
          Применить
        </div>
      </div>
    </transition>
  </div>
</template>