<script>
  import ColorPicker
    from '../controls/ColorPicker.vue'
  import FilterWrap from './FilterWrap.vue'
  import RadioGroup
    from '../controls/RadioGroup.vue'
  import CheckboxGroup
    from '../controls/CheckGroup.vue'
  import PriceChooser
    from '../controls/PriceChooser.vue'

  // This component is relatively simple itself: it just listens
  // 'input' events from set of filters and
  // then handles all commits to the global store.
  // The lion's share of all logic is hidden inside FilterWrap component.
  // FilterWrap uses the common set of project's controls.

  export default {
    data () {
      return {
        opened: false,
        listeningForChanges: true
      }
    },
    components: {
      'c-color-picker': ColorPicker,
      'c-filter-wrap': FilterWrap,
      'c-radio-group': RadioGroup,
      'c-price-chooser': PriceChooser,
      'c-checkbox-group': CheckboxGroup // Most of the filters are checkbox groups
    },
    props: {
      filtersData: Object,
      filtersVModel: Object
    },
    computed: {
      canReset () {
        const dynFiltersData = this.filtersData.dyn

        const checkedLength = this.filtersVModel.dyn.reduce((acc, v, index) => {
          const vModelCount = v.values.length,
                data = dynFiltersData[index].values

          if (
            v.feature_name !== 'price' &&
            data.length !== 1
          ) {
            return acc + vModelCount
          }

          return acc
        }, 0)

        return checkedLength > 0
      }
    },
    methods: {
      toggleOpened () {
        // Affects only on mobile screen (<600px)
        // due to css media query
        this.opened = !this.opened
      },
      emitFiltersChanged () {
        if (this.listeningForChanges) {
          this.$emit('filtersChanged')
        }
      },
      updateDynVModel (index, values) {
        this.$store.commit('UPDATE_DYN_FILTERS_VMODEL', {
          index,
          values
        })
        this.$store.commit('UPDATE_STATIC_FILTERS_VMODEL', {
          key: 'page',
          value: 1
        })

        this.emitFiltersChanged()
      },
      updateStaticVModel (key, value) {
        this.$store.commit('UPDATE_STATIC_FILTERS_VMODEL', {
          key,
          value
        })

        if (key !== 'page') {
          this.$store.commit('UPDATE_STATIC_FILTERS_VMODEL', {
            key: 'page',
            value: 1
          })
        }

        this.emitFiltersChanged()
      },
      resetAll () {
        this.$nextTick(() => {
          const filters = this.$children

          // Avoid multiple 'filtersChanged' events at once
          this.listeningForChanges = false

          filters.forEach(f => {
            if (typeof f.reset === 'function') {
              f.reset()
            }
          })

          this.updateStaticVModel('page', 1)

          this.listeningForChanges = true
          this.emitFiltersChanged()
        })
      }
    }
  }
</script>

<template>
  <div :class="['f-filters', {'f-filters_opened': opened}]">
    <div class="f-filters__head"
         @click="toggleOpened">
      <svg class="f-filters__head-ico"
           xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 24 24"
           width="24"
           height="24">
        <line class="f-filters__head-ico-l1"
              fill="none"
              stroke="#3a3e41"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              x1="12"
              y1="5"
              x2="12"
              y2="19" />
        <line class="f-filters__head-ico-l2"
              fill="none"
              stroke="#3a3e41"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              x1="5"
              y1="12"
              x2="19"
              y2="12" />
      </svg>
      <span class="f-filters__head-title">Фильтры</span>
    </div>
    <div class="f-filters__inner"
         :class="{'f-filters__inner_visible': opened}">
      <div class="f-filters__list">
        <!-- Static/hardcoded filters. -->
        <c-filter-wrap filter-name="Сортировка"
                       :data="filtersData.static.sort"
                       :value="filtersVModel.static.sort"
                       @input="updateStaticVModel('sort', $event)"
                       type="sort">
          <c-radio-group slot-scope="scope"
                         :data="scope.localData"
                         :value="scope.localVModel" />
        </c-filter-wrap>
        <template v-for="(f, index) in filtersData.dyn">
          <!--Price case-->
          <c-filter-wrap v-if="f.feature_name === 'price'"
                         :key="index"
                         :filter-name="f.filterName"
                         :data="f.values"
                         :value="filtersVModel.dyn[index].values"
                         @input="updateDynVModel(index, $event)"
                         type="price">
            <c-price-chooser slot-scope="scope"
                             :prices="filtersData.static.prices"
                             :value="scope.localVModel" />
          </c-filter-wrap>
          <!--Color picker-->
          <c-filter-wrap v-else-if="f.values[0] && f.values[0].url"
                         :key="index"
                         :filter-name="f.filterName"
                         :data="f.values"
                         :value="filtersVModel.dyn[index].values"
                         @input="updateDynVModel(index, $event)">
            <c-color-picker slot-scope="scope"
                            :multiple="true"
                            :data="scope.localData"
                            :value="scope.localVModel" />
          </c-filter-wrap>
          <!--All other filters-->
          <c-filter-wrap v-else
                         :key="index"
                         :filter-name="f.filterName"
                         :data="f.values"
                         :value="filtersVModel.dyn[index].values"
                         @input="updateDynVModel(index, $event)">
            <c-checkbox-group slot-scope="scope"
                              :data="scope.localData"
                              :value="scope.localVModel" />
          </c-filter-wrap>
        </template>
      </div>
      <div class="f-filters__close">
        <transition name="fade" type="transition">
          <div class="f-filters__close-inner"
               @click="resetAll"
               v-show="canReset">
            Сбросить
            <svg class="f-filters__close-ico"
                 xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round">
              <line x1="18"
                    y1="6"
                    x2="6"
                    y2="18"></line>
              <line x1="6"
                    y1="6"
                    x2="18"
                    y2="18"></line>
            </svg>
          </div>
        </transition>
      </div>
    </div>
  </div>
</template>