<script>
  export default {
    props: {
      data: {
        type: Array,
        required: true,
        default: () => []
      }
    },
    computed: {
      items () {
        return this.data.slice(0, -1)
      },
      lastItem () {
        return this.data.slice(-1)[0]
      },
      lastItemPosition () {
        return this.data.length
      }
    }
  }
</script>

<template>
  <ul class="f-bread"
      itemscope
      itemtype="http://schema.org/BreadcrumbList">
    <li class="f-bread__item-wrap"
        itemprop="itemListElement"
        itemtype="http://schema.org/ListItem"
        itemscope
        v-for="(item, index) in items"
        :key="item.id">
      <router-link class="f-bread__item"
                   :to="item.url">
        <span itemprop="name">{{item.name}}</span>
      </router-link>
      <svg class="f-bread__chevron"
           xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 24 24"
           width="24"
           height="24">
        <path d="M9 18l6-6-6-6"
              fill="none"
              stroke="#7965b2"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"/>
      </svg>
      <meta itemprop="position" :content="index">
    </li>
    <li class="f-bread__item-wrap"
        itemprop="itemListElement"
        itemtype="http://schema.org/ListItem"
        itemscope
        v-if="lastItem">
      <div class="f-bread__item f-bread__item_link_no">
        <span itemprop="name">{{lastItem.name}}</span>
      </div>
      <svg class="f-bread__chevron"
           xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 24 24"
           width="24"
           height="24">
        <path d="M9 18l6-6-6-6"
              fill="none"
              stroke="#7965b2"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"/>
      </svg>
      <meta itemprop="position"
            :content="lastItemPosition">
    </li>
  </ul>
</template>