<script>
  export default {
    props: {
      activeClass: {
        type: String,
        default: 'g-active'
      }
    },
    methods: {
      scrollToActive () {
        const wrap = this.$refs.wrap,
              slot = this.$slots.default[0].elm,
              activeEl = slot.querySelector(`.${this.activeClass}`)


        if (!wrap || !slot || !activeEl) {
          return undefined
        }

        const activeElWidth = activeEl.clientWidth,
              slotWidth = slot.width,
              wrapWidth = wrap.clientWidth

        if (slotWidth => wrapWidth) {
          wrap.scrollLeft = activeEl.offsetLeft -
            wrapWidth / 2 +
            activeElWidth / 2
        }
      }
    },
    watch: {
      '$route.fullPath' (newVal, oldValue) {
        if (newVal !== oldValue) {
          this.$nextTick(this.scrollToActive)
        }
      }
    },
    mounted () {
      this.$nextTick(this.scrollToActive)
    }
  }
</script>

<template>
  <div class="g-container g-container_mw_auto">
    <div class="f-overflowed-list" ref="wrap">
      <slot />
    </div>
  </div>
</template>