<script>
  import HoverDrop from './controls/HoverDrop.vue'

  export default {
    data () {
      return {
        inFav: false
      }
    },
    components: {
      'c-hover-drop': HoverDrop
    },
    computed: {
      isStore () {
        const type = this.data.product_type

        return type === 'Магазин'
      },
      brandStyle () {
        const randomInt = Math.floor(Math.random() * 71 + 30)

        return {
          width: this.loading ? `${randomInt}%` : '100%'
        }
      },
      nameStyle () {
        const randomInt = Math.floor(Math.random() * 71 + 30)

        return {
          width: this.loading ? `${randomInt}%` : '100%'
        }
      },
      prodFoundedInFav () {
        const prodId = this.data.id

        return this.$store.state.fav.idsListInFav.indexOf(prodId) !== -1
      },
      likesCount () {
        return this.data.likes_count || 0
      }
    },
    props: {
      data: Object,
      loading: {
        type: Boolean,
        default: false
      },
      showFavIcon: {
        type: Boolean,
        default: true
      },
      clickable: {
        type: Boolean,
        default: true
      },
      showLikesCount: {
        type: Boolean,
        default: false
      },
      showCreatedAt: {
        type: Boolean,
        default: false
      },
      showDeleteBtn: {
        type: Boolean,
        default: false
      },
      showEditBtn: {
        type: Boolean,
        default: false
      },
      cancelled: {
        type: Boolean,
        default: false
      },
      type: String
    },
    watch: {
      'prodFoundedInFav' (newVal) {
        this.inFav = newVal
      }
    },
    methods: {
      toggleLike (e) {
        if (this.showLikesCount) {
          return undefined
        }

        e.preventDefault()

        if (!this.$store.state.user.id) {
          return this.modal('c-reg')
        }

        const prodId = this.data.id

        this.inFav = !this.inFav

        if (this.inFav) {
          this.$store.dispatch('addToFav', prodId)
        }
        else {
          this.$store.dispatch('removeFromFav', prodId)
        }
      },
      editProd () {
        this.$router.push(`/edit-prod/${this.data.originalUrl}`)
      },
      deleteProd () {
        this.modal('c-delete-prod-confirm')
          .then(res => {
            if (res) {
              this.$store.dispatch('deleteProd', {
                id: this.data.id,
                type: this.type
              })
            }
          })
      },
      showCancelReason () {
        this.modal({
          name: 'c-cancellation-reason',
          data: this.data.decline_text
        })
      }
    },
    created () {
      this.inFav = this.prodFoundedInFav
    }
  }
</script>

<template>
  <router-link :class="[
                 'f-prodcard',
                 {'f-prodcard_loading': loading},
                 {'f-prodcard_clickable': clickable}
               ]"
               :tag="loading || !clickable ? 'div' : 'a'"
               :event="loading || !clickable ? '' : 'click'"
               :to="data.url || '#'">
    <div class="f-prodcard__created"
         v-if="showCreatedAt">
      Добавлено:
      <div class="f-prodcard__created-at">{{data.created_at}}</div>
    </div>
    <figure class="f-prodcard__img">
      <div :class="['f-prodcard__img-pic', {'f-prodcard__img-pic_clickable': clickable}]"
           :style="img(data.thumb_main_picture_url)"></div>
      <div class="f-prodcard__heart"
           @click.self="toggleLike"
           v-if="!loading && showFavIcon">
        <transition name="like-set"
                    type="transition">
          <svg class="f-prodcard__heart-clone"
               v-if="inFav && !showLikesCount"
               xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 24 24"
               width="24"
               height="24">
            <path d="M20.8 4.6c-2.1-2.1-5.6-2.1-7.8 0l-1 1.1-1.1-1.1c-2.1-2.1-5.6-2.1-7.8 0s-2.1 5.6 0 7.8l1.1 1.1 7.8 7.8 7.8-7.8 1.1-1.1c2.1-2.2 2.1-5.6-.1-7.8z"
                  fill="#df5b56"
                  stroke="#df5b56"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round" />
          </svg>
        </transition>
        <svg :class="['f-prodcard__heart-ico', {'f-prodcard__heart-ico_active': inFav || showLikesCount}]"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24"
             width="24"
             height="24"
             @click="toggleLike">
          <path d="M20.8 4.6c-2.1-2.1-5.6-2.1-7.8 0l-1 1.1-1.1-1.1c-2.1-2.1-5.6-2.1-7.8 0s-2.1 5.6 0 7.8l1.1 1.1 7.8 7.8 7.8-7.8 1.1-1.1c2.1-2.2 2.1-5.6-.1-7.8z"
                fill="white"
                stroke="#3a3e41"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round" />
        </svg>
        <span class="f-prodcard__likes-count"
              v-if="showLikesCount">
          {{likesCount}}
        </span>
      </div>
      <!--<img class="f-prodcard__img-hidden" src="#" alt="some alt" />-->
    </figure>
    <div class="f-prodcard__brand"
         :style="brandStyle">
      {{data.brand || ''}}
    </div>
    <div class="f-prodcard__price">
      <template v-if="data.status !== 'Продан'">
        <!--<div class="f-prodcard__price-old">119800</div>-->
        <div class="f-prodcard__price-value">{{mFmt(data.price)}}</div>
        Руб
      </template>
      <template v-else>
        <div class="f-prodcard__price-value">продано</div>
      </template>
    </div>
    <div class="f-prodcard__name"
         :style="nameStyle">
      {{data.name}}
    </div>
    <div class="f-prodcard__size"
         v-if="data.size">
      Размер: {{data.size}}
    </div>
    <div class="f-prodcard__btns"
         v-if="showDeleteBtn || showEditBtn || cancelled">
      <div class="f-prodcard__btn"
           @click.prevent="editProd"
           v-if="showEditBtn">
        Редактировать
      </div>
      <div class="f-prodcard__btn"
           @click.prevent="showCancelReason"
           v-if="cancelled">
        Причина
      </div>
      <div class="f-prodcard__btn"
           @click.prevent="deleteProd"
           v-if="showDeleteBtn">
        Удалить
        <svg xmlns="http://www.w3.org/2000/svg"
             width="24"
             height="24"
             viewBox="0 0 24 24"
             fill="none"
             stroke="currentColor"
             stroke-width="2"
             stroke-linecap="round"
             stroke-linejoin="round"
             class="feather feather-x">
          <line x1="18"
                y1="6"
                x2="6"
                y2="18"></line>
          <line x1="6"
                y1="6"
                x2="18"
                y2="18"></line>
        </svg>
      </div>
    </div>
  </router-link>
</template>