<script>
  /* eslint-disable max-params,max-len */
  function Branch (h, parentComp, append, query) {
    function createBranch (
      {
        name: text,
        products_in_count: productsInCount,
        url,
        is_current: active,
        is_last: isLast,
        hideProductsInCount
      },
      visible,
      children,
      index
    ) {
      const count = h(
              'span',
              {staticClass: 'f-tree__branch-count'},
              [!hideProductsInCount && (productsInCount || '')]
            ),
            nameText = h(
              'span',
              {staticClass: 'f-tree__branch-name-text'},
              [text]
            ),
            branchName = h(
              'router-link',
              {
                directives: [
                  {
                    name: 'show',
                    rawName: 'v-show',
                    value: visible,
                    expression: 'visible'
                  }
                ],
                staticClass: 'f-tree__branch-name',
                class: {'f-tree__branch-name_active': active},
                style: {transitionDelay: visible ? `${50 * index}ms` : '0ms'},
                attrs: {to: `${url}${query}`, append},
                nativeOn: {
                  click () {
                    parentComp.$emit('click', {
                      active,
                      children,
                      isLast
                    })
                  }
                }
              },
              [nameText, count]
            ),
            transition = h(
              'transition',
              {attrs: {name: 'fast-drop-only'}},
              [branchName]
            ),
            content = [
              transition,
              ...children
            ]

      return h('div', {staticClass: 'f-tree__branch'}, content)
    }

    return createBranch
  }

  function setupWalker (h, {visible, append, query}, parentComp) {
    const createBranch = Branch(h, parentComp, append, query)

    function walker (data, index) {
      const children = data.children || []

      return children.map(child => {
        const idx = index.i++

        return createBranch(
          child,
          visible,
          walker(child, index),
          idx
        )
      })
    }

    return walker
  }

  const Branches = {
    functional: true,
    props: {
      data: {
        type: Array,
        default: () => []
      },
      visible: {
        type: Boolean,
        default: false
      },
      append: {
        type: Boolean,
        default: false
      },
      query: {
        type: String,
        default: ''
      }
    },
    render: (h, {props, parent: parentComp}) => {
      const walker = setupWalker(h, props, parentComp),
            branches = walker({
              children: props.data,
              name: 'root'
            }, {i: 0})

      return h('div', {
        staticClass: 'f-tree__root',
        class: {'f-tree__root_visible': props.visible}
      }, branches)
    }
  }

  export default {
    data () {
      return {
        opened: false,
        inGroup: false
      }
    },
    props: {
      treeIndex: {
        type: Number,
        default: -2
      },
      active: {
        type: Number,
        default: -1
      },
      name: {
        type: String,
        required: true,
        default: ''
      },
      data: {
        type: Array,
        required: true,
        default: () => []
      },
      append: {
        type: Boolean,
        default: false
      },
      hidden: {
        type: Boolean,
        default: true
      },
      isNumberVisible: {
        type: Boolean,
        default: true
      },
      query: {
        type: String,
        default: ''
      }
    },
    components: {
      'c-branches': Branches
    },
    computed: {
      resultedOpenedState () {
        if (this.inGroup) {
          return this.treeIndex === this.active
        }

        return this.opened
      }
    },
    methods: {
      toggleOpened () {
        // Check if component in group
        if (this.inGroup) {
          // If it is then we emit appropriate event to parent wrapper
          if (!this.resultedOpenedState) {
            this.$emit('opened', this.treeIndex)
          }
          else {
            // -1 is no-one id
            this.$emit('opened', -1)
          }
        }
        // Otherwise just toggle it!
        else {
          this.opened = !this.opened
        }
      }
    },
    created () {
      // Check when created for is it grouped tree or alone component.
      // If prop treeIndex passed we assume that this tree placed in some group.
      if (this.treeIndex > -1) {
        this.inGroup = true
      }
    }
  }
</script>

<template>
  <div :class="['f-tree', {
                  'f-tree_opened': resultedOpenedState,
                  'f-tree_hidden': hidden
               }]">
    <div class="f-tree__head"
         @click="toggleOpened">
      <div class="f-tree__head-ico">
        <div class="f-tree__head-ico-l1"></div>
        <div class="f-tree__head-ico-l2"></div>
      </div>
      <span class="f-tree__head-title">{{name}}</span>
    </div>
    <c-branches :data="data"
                :visible="resultedOpenedState"
                :query="query"
                :append="append"/>
  </div>
</template>