<script>
  import Tree from './Tree.vue'

  export default {
    data () {
      return {
        active: -1
      }
    },
    props: {
      data: {
        type: Array,
        required: true,
        default: () => []
      },
      addRootAsItselfChild: {
        type: Boolean,
        default: false
      },
      defaultOpenedId: {
        type: Number,
        default: -1
      },
      isNumberVisible: {
        type: Boolean,
        default: true
      },
      append: {
        type: Boolean,
        default: false
      },
      query: {
        type: String,
        default: ''
      }
    },
    computed: {
      transformedData () {
        const originalData = this.data

        if (!this.addRootAsItselfChild) {
          return originalData
        }

        const cloneData = JSON.parse(JSON.stringify(originalData))

        return this.addItself({children: cloneData})
      }
    },
    components: {
      'c-tree': Tree
    },
    watch: {
      defaultOpenedId (newVal) {
        this.active = newVal
      }
    },
    methods: {
      addItself (data) {
        data.children.forEach(e => {
          const children = e.children || []

          if (children.length) {
            e.children = [this.getItselfAsChild(e)].concat(children || [])

            this.addItself(e)
          }
        })

        return data.children
      },
      getItselfAsChild (itself) {
        return {
          id: itself.id,
          is_current: itself.is_current,
          name: 'Все товары',
          hideProductsInCount: true,
          is_last: true,
          products_in_count: itself.products_in_count,
          url: itself.url
        }
      },
      onOpened (treeIndex) {
        this.active = treeIndex
      },
      shouldTreeBeHidden (id) {
        const defaultOpenedId = this.defaultOpenedId

        if (
          defaultOpenedId === -1 ||
          id === defaultOpenedId
        ) {
          return false
        }

        return true
      }
    },
    created () {
      if (this.defaultOpenedId !== -1) {
        this.active = this.defaultOpenedId
      }
    }
  }
</script>

<template>
  <div>
    <c-tree v-for="structure in transformedData"
            :treeIndex="structure.id"
            :key="structure.id"
            :data="structure.children"
            :active="active"
            :name="structure.name"
            :append="append"
            :hidden="shouldTreeBeHidden(structure.id)"
            :isNumberVisible="isNumberVisible"
            :query="query"
            @opened="onOpened"
            @click="$emit('click', $event)"/>
  </div>
</template>