<script>
  export default {
    computed: {
      isHomePage () {
        return this.$route.path === '/'
      },
      currentYear () {
        return new Date().getUTCFullYear()
      },
      flatDynPages () {
        return this.$store.getters.flatDynPages
      },
      dynPages () {
        return this.flatDynPages.filter(e => !e.is_footer)
      },
      footerLinks () {
        return this.flatDynPages.filter(e => e.is_footer)
      },
      userSex () {
        return this.$store.state.user.sex
      }
    }
  }
</script>

<template>
  <footer class="g-footer">
    <div class="g-container">
      <div class="g-footer__top">
        <router-link class="g-footer__top-logo"
                     :tag="isHomePage ? 'div' : 'a'"
                     :to="`/${userSex}`">
          <svg xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 160.8 40.9"
               width="142"
               height="36">
            <path style="fill:#654eb7"
                  d="M0 40.2V3.3h7.4c2.8 0 5.4.2 7.6 2.2 2.2 2 3.1 4.7 3.1 7.6 0 3.4-1.3 5.9-4.3 7.5 4.5.9 7.6 4.6 7.6 9.3 0 3-1.1 5.7-3.4 7.6-2.6 2.2-5.3 2.6-8.6 2.6H0zM2.4 20h4.1c2.5 0 4.5.1 6.6-1.4 2.1-1.5 2.7-3.4 2.7-5.9 0-2.4-.9-4.7-3-6.1-1.9-1.2-4.2-1.2-6.3-1.2H2.4V20zm0 18H8c2.6 0 5.3.1 7.5-1.4s3.6-3.8 3.6-6.6c0-2.7-1.3-5.4-3.8-6.6-2.2-1.1-5.3-1.2-7.8-1.2H2.4V38zM29.7 20.5c1-2.1 2.6-3.4 5-3.4.9 0 1.6.2 2.4.5l-1.2 2c-.5-.3-1-.4-1.6-.4-4.9 0-4.6 6.2-4.6 9.5v11.5h-2.2V17.6h2.2v2.9zM60.9 40.2h-2.2v-4.1h-.1c-1.7 2.9-5.3 4.5-8.6 4.5-6.8 0-11.1-5.3-11.1-11.9S43.2 17.1 50 17.1c3.5 0 6.8 1.6 8.7 4.4h.1v-3.9H61v22.6zM41 28.7c0 5.2 3.4 9.9 8.9 9.9 5.8 0 8.9-4.7 8.9-10.1 0-5.2-3.6-9.3-9-9.3-5.2 0-8.8 4.7-8.8 9.5zM70.6 20.4c1.1-2.1 3.4-3.3 5.8-3.3 2.9 0 5.2 1.5 6.4 4.1 1.2-2.7 3.7-4.1 6.6-4.1 5.8 0 7 4 7 8.9v14.2h-2.2V25.7c0-3.5-.5-6.6-4.8-6.6-4.7 0-5.8 4.1-5.8 8v13h-2.2V26.2c0-3.5-.6-7.1-5-7.1-4.7 0-5.6 4.9-5.6 8.6v12.4h-2.2V17.6h2.2v2.8zM103.9-.2h2.2v21.7h.1c1.9-2.8 5.2-4.4 8.7-4.4 6.7 0 11.1 5 11.1 11.6s-4.3 11.9-11.1 11.9c-3.3 0-6.9-1.7-8.6-4.5h-.1v4.1H104V-.2zm19.8 28.9c0-4.9-3.6-9.6-8.8-9.6-5.7 0-9 4.3-9 9.6s3.3 9.8 8.9 9.8c5.6.1 8.9-4.6 8.9-9.8zM133.5 40.2h-2.2V-.2h2.2v40.4zM141 29.1c-.1 5.7 3.8 9.5 9 9.5 3.5 0 6.4-2.1 8-5.1l1.9 1.1c-2.1 3.9-5.7 6.1-10.1 6.1-6.7 0-11-5.4-11-11.8 0-6.3 4.4-11.7 11-11.7 6.8 0 10.9 5.5 10.9 12H141zm17.4-2.1c-.5-4.2-4-7.9-8.6-7.9s-8.4 3.6-8.8 7.9h17.4z"/>
          </svg>
        </router-link>
        <div class="g-footer__top-links">
          <router-link class="g-footer__top-link"
                       v-for="page in dynPages"
                       :to="`/d/${page.url}`"
                       :key="page.id">
            {{page.name}}
          </router-link>
          <router-link class="g-footer__top-link"
                       to="/b">Блог
          </router-link>
          <router-link class="g-footer__top-link"
                       to="/contacts">Контакты
          </router-link>
        </div>
        <div class="g-footer__top-social">
          <a class="g-footer__top-social-link"
             target="_blank"
             referrerpolicy="no-referrer"
             rel="nofollow noindex noopener"
             href="https://vk.com/bramble.store">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 40 40"
                 width="24"
                 height="24">
              <path d="M19.7 27.1h1.5s.5 0 .7-.3c.2-.2.2-.7.2-.7s0-2 .9-2.3c.9-.3 2.1 2 3.4 2.8 1 .7 1.7.5 1.7.5h3.4s1.8-.1.9-1.5c-.1-.1-.5-1-2.5-2.9-2.1-2-1.8-1.6.7-5 1.5-2.1 2.2-3.3 2-3.9-.2-.5-1.3-.4-1.3-.4h-3.8s-.3 0-.5.1-.3.4-.3.4-.6 1.6-1.4 2.9c-1.7 2.9-2.4 3-2.6 2.8-.6-.4-.5-1.7-.5-2.6 0-2.8.4-3.9-.8-4.2-.4-.1-.7-.2-1.8-.2-1.4 0-2.5 0-3.1.3-.4.2-.8.7-.6.7.3 0 .8.2 1.1.6.4.5.4 1.7.4 1.7s.2 3.3-.5 3.7c-.5.3-1.2-.3-2.7-2.9-.8-1.3-1.3-2.8-1.3-2.8s-.1-.3-.3-.4c-.2-.2-.6-.2-.6-.2H8.4s-.5 0-.7.3c-.2.2 0 .6 0 .6s2.8 6.6 6 9.9c2.7 3.2 6 3 6 3zm0 0"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    fill="currentColor"/>
            </svg>
          </a>
          <a class="g-footer__top-social-link"
             target="_blank"
             referrerpolicy="no-referrer"
             rel="nofollow noindex noopener"
             href="https://www.instagram.com/bramble.store/">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 40 40"
                 width="24"
                 height="24">
              <path d="M19.9 25.5c3 0 5.5-2.5 5.5-5.5s-2.5-5.5-5.5-5.5-5.5 2.5-5.5 5.5 2.5 5.5 5.5 5.5zm0-8.7c1.8 0 3.2 1.4 3.2 3.2 0 1.8-1.4 3.2-3.2 3.2-1.7 0-3.2-1.4-3.2-3.2.1-1.7 1.5-3.2 3.2-3.2zm5.7-1.2c.7 0 1.3-.6 1.3-1.3 0-.7-.6-1.3-1.3-1.3-.7 0-1.3.6-1.3 1.3 0 .8.6 1.3 1.3 1.3z"
                    fill="currentColor"/>
              <path d="M14.7 30.7h10.6c3 0 5.4-2.4 5.4-5.4V14.7c0-3-2.4-5.4-5.4-5.4H14.7c-3 0-5.4 2.4-5.4 5.4v10.6c0 3 2.4 5.4 5.4 5.4zm-3.1-16c0-1.7 1.4-3.1 3.1-3.1h10.6c1.7 0 3.1 1.4 3.1 3.1v10.6c0 1.7-1.4 3.1-3.1 3.1H14.7c-1.7 0-3.1-1.4-3.1-3.1V14.7z"
                    fill="currentColor"/>
            </svg>
          </a>
          <a class="g-footer__top-social-link"
             target="_blank"
             referrerpolicy="no-referrer"
             rel="nofollow noindex noopener"
             href="https://www.facebook.com/bramble.store/">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 40 40"
                 width="24"
                 height="24">
              <path fill="currentColor"
                    d="M25 20h-3.4v12.5h-5.2V20h-2.5v-4.4h2.5v-2.8c0-2 1-5.2 5.2-5.2h3.8v4.3h-2.8c-.5 0-1.1.2-1.1 1.2v2.6h3.9L25 20zm0 0"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="g-footer__bottom-wrap">
      <div class="g-container g-footer__bottom">
        <div class="g-footer__bottom-copy">{{currentYear}} © Bramble</div>
        <div class="g-footer__bottom-links">
          <router-link class="g-footer__bottom-link"
                       v-for="link in footerLinks"
                       :to="`/d/${link.url}`"
                       :key="link.id">
            {{link.name}}
          </router-link>
        </div>
        <a class="g-footer__bottom-madeby"
           href="https://dcrt.it"
           referrerpolicy="no-referrer"
           rel="nofollow noindex noopener"
           target="_blank">
          Сделано в
          <img class="g-footer__bottom-dcrt"
               src="https://dcrt.it/desktop/img/logo.svg"
               alt="DECART IT-production"
               title="DECART IT-production">
        </a>
      </div>
    </div>
  </footer>
</template>