<script>
  export default {
    props: {
      quad: {
        type: Boolean,
        required: false,
        default: () => false
      }
    }
  }
</script>


<template>
  <transition name="fade" appear>
    <div class="cs-preloader"
         :class="[{'cs-preloader_quad': quad}, {'cs-preloader_usual': !quad}]">
      <div class="cs-preloader__overlay"></div>
      <div class="cs-preloader__loader"></div>
    </div>
  </transition>
</template>