<script>
  export default {
    data () {
      return {
        wrapVisible: false,
        progressVisible: false,
        requestFinished: false,
        mayFinish: false
      }
    },
    computed: {
      loading () {
        return this.$store.getters.loaderQueueLength
      },
      errorOccurred () {
        return this.$store.state.modal.name === 'c-network-error'
      },
      stacked () {
        return this.wrapVisible &&
               this.progressVisible &&
               this.requestFinished &&
               this.mayFinish
      }
    },
    watch: {
      loading (newVal, oldVal) {
        if (newVal) {
          if (this.stacked && !oldVal) {
            this.wrapVisible = false
            this.progressVisible = false
            this.requestFinished = false
            this.mayFinish = false
          }

          this.wrapVisible = true
          this.progressVisible = true

          setTimeout(() => {
            this.mayFinish = true

            if (!this.loading || this.errorOccurred) {
              this.requestFinished = true
            }
          }, 400)
        }
        else if (this.mayFinish) {
          this.requestFinished = true
        }
      },
      errorOccurred (newVal) {
        if (newVal && this.mayFinish) {
          this.requestFinished = true
        }
      }
    },
    methods: {
      onProgressTransitionEnd () {
        if (this.requestFinished) {
          this.wrapVisible = false
          this.mayFinish = false
        }
      },
      onWrapTransitionEnd () {
        if (this.requestFinished) {
          this.progressVisible = false
          this.requestFinished = false
          this.mayFinish = false
        }
      }
    }
  }
</script>

<template>
  <div :class="['g-progress-wrap', {'g-progress-wrap_visible': wrapVisible}]"
       @transitionend.self="onWrapTransitionEnd">
    <div :class="[
          'g-progress', {
          'g-progress_process': progressVisible,
          'g-progress_finished': requestFinished,
          'g-progress_error': errorOccurred
         }]"
         @transitionend.self="onProgressTransitionEnd"></div>
  </div>
</template>