<script>
  import Scroller from '../freq/Scroller.vue'

  export default {
    data () {
      return {
        minSymbols: 2,
        throttle: false,
        throttleTime: 300,
        focusThrottle: false,
        focusThrottleTime: 100,
        focusPos: -1,
        query: '',
        categories: [],
        categoriesOverall: 0,
        pageCount: 0,
        products: [],
        productsOverall: 0,
        loading: false,
        writingNow: false,
        lastTypeTime: 0
      }
    },
    watch: {
      writingNow (newVal) {
        if (newVal === false) {
          this.search()
        }
      }
    },
    components: {
      'c-scroller': Scroller
    },
    computed: {
      records () {
        return this.categories.concat(this.products)
      },
      queryLongEnough () {
        return this.query.length >= this.minSymbols
      },
      resultsAmount () {
        return this.records.length
      },
      somethingFounded () {
        return this.resultsAmount > 0
      }
    },
    methods: {
      onInput ({target}) {
        const scroller = this.$refs.scroller

        this.query = target.value

        if (!this.throttle) {
          this.throttle = true

          this.search()
          setTimeout(() => {this.throttle = false}, this.throttleTime)
        }

        this.lastTypeTime = (new Date()).getTime()
        this.writingNow = true
        setTimeout(() => {
          if ((new Date()).getTime() - this.lastTypeTime >= this.throttleTime + 50) {
            this.writingNow = false
          }
        }, this.throttleTime + 50)

        if (scroller) {
          scroller.updateScroller()
        }
      },
      search () {
        if (this.queryLongEnough) {
          this.loading = true

          this.api.search({query: this.query})
            .then(res => {
              this.loading = false
              Object.assign(this, res)

              setTimeout(() => {
                const scroller = this.$refs.scroller
  
                if (scroller) {
                  scroller.updateScroller()
                }
              }, 0)
            })
        }
      },
      goToFullSearch () {
        const query = this.query

        this.$router.push(`/search?query=${query}`)
        this.clearQuery()
      },
      clearQuery () {
        this.query = ''
        this.results = []
        this.focusPos = -1
      },
      focusUp () {
        let newFocusPos = this.focusPos - 1

        if (
          this.somethingFounded &&
          newFocusPos < 0
        ) {
          newFocusPos = this.resultsAmount - 1
        }

        this.focusPos = newFocusPos
        this.$refs.scroller.scrollTo(newFocusPos)
      },
      focusUpThrottled () {
        if (!this.focusThrottle) {
          this.focusThrottle = true

          this.focusUp()
          setTimeout(() => {this.focusThrottle = false}, this.focusThrottleTime)
        }
      },
      focusDown () {
        let newFocusPos = this.focusPos + 1

        if (
          this.somethingFounded &&
          newFocusPos > this.resultsAmount - 1
        ) {
          newFocusPos = 0
        }

        this.focusPos = newFocusPos
        this.$refs.scroller.scrollTo(newFocusPos)
      },
      focusDownThrottled () {
        if (!this.focusThrottle) {
          this.focusThrottle = true

          this.focusDown()
          setTimeout(() => {this.focusThrottle = false}, this.focusThrottleTime)
        }
      },
      onEnter () {
        if (this.focusPos !== -1) {
          const record = this.records[this.focusPos]

          if (record) {
            this.$router.push(record.uri)
            this.clearQuery()
          }
        }
        else {
          this.goToFullSearch()
        }
      }
    },
    mounted () {
      /*
       * Close dropdown when we click
       * somewhere differ from search wrapper
       */
      document.addEventListener('click', ({target}) => {
        if (!target.closest('.g-header__search')) {
          this.clearQuery()
        }
      })
    }
  }
</script>

<template>
  <div class="g-header__search" ref="rootEl">
    <input class="g-header__search-inp" 
           placeholder="поиск..."
           :value="query"
           @input="onInput"
           @keydown.up.prevent="focusUpThrottled"
           @keydown.down.prevent="focusDownThrottled"
           @keydown.enter.prevent="onEnter"
           @keydown.esc.prevent="clearQuery"/>
    <div :class="['g-header__search-btn', {'g-header__search-btn_active':somethingFounded}]"
          @click="goToFullSearch">
      <svg class="g-header__search-icon" xmlns="http://www.w3.org/2000/svg" width="15" height="15"
            viewBox="0 0 14.9 14.9">
        <circle fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                cx="6.3" cy="6.3" r="5.3"/>
        <line fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="13.8"
              y1="13.8" x2="10.1" y2="10.1"/>
      </svg>
    </div>
    <div :class="['g-header__search-drop-wrap', {'g-header__search-drop-wrap_active': queryLongEnough}]">
      <div v-if="loading && !somethingFounded"><div class="g-loader"></div></div>
      <div class="g-header__search-drop" v-else>
        <transition name="fade" type="transition" mode="out-in">
          <div class="g-header__search-notfound" v-if="!somethingFounded">Результаты не найдены</div>
          <c-scroller ref="scroller" v-else>
              <template v-for="(record, index) in records">
                <router-link :class="['g-header__search-cat', {'g-header__search-cat_focused': focusPos === index}]"
                             :to="`/${record.uri}`"
                             :key="record.id"
                             @click.native="clearQuery"
                             v-if="record.type === 'category'">
                  <div class="g-header__search-cat-label">категория:</div>
                  <div class="g-header__search-cat-name">{{record.name}}</div>
                </router-link>
                <router-link :class="['g-header__search-item', {'g-header__search-item_focused': focusPos === index}]"
                             :to="`/${record.uri}`"
                             :key="record.id"
                             @click.native="clearQuery"
                             v-else>
                  <div class="g-header__search-item-logo" :style="`background-image: url('${record.logo}')`"></div>
                  <div class="g-header__search-item-desc">
                    <div class="g-header__search-item-desc-name">{{record.name}}</div>
                    <div class="g-header__search-item-desc-info">
                      <div class="g-header__search-item-desc-col">код:&nbsp;{{record.sku}}</div>
                      <div class="g-header__search-item-desc-col">{{record.producer}}</div>
                    </div>
                  </div>
                </router-link>
              </template>
          </c-scroller>
        </transition>
      </div>
    </div>
  </div>
</template>