<script>
  import TreeGroup from '../freq/TreeGroup.vue'
  import Cookies from 'js-cookie'
  import OverflowedList
    from '../freq/OverflowedList.vue'

  export default {
    data () {
      return {
        burgerOpened: false
      }
    },
    components: {
      'c-tree-group': TreeGroup,
      'c-overflowed-list': OverflowedList
    },
    computed: {
      flatDynPages () {
        return this.$store.getters.flatDynPages
          .filter(e => !e.is_footer)
      },
      sexes () {
        return this.$store.state.common.sexes
      },
      menu () {
        return this.$store.state.common.menu
      },
      userLogin () {
        const user = this.$store.state.user,
              login = user.login

        if (!login) {
          return `user${user.id}`
        }

        return login
      },
      userId () {
        return this.$store.state.user.id
      },
      userSex () {
        return this.$store.state.user.sex
      }
    },
    methods: {
      close () {
        this.bus.$emit('setBurger', false)
      },
      onSoldBtnClick (e) {
        this.close()

        if (!this.userId) {
          e.stopImmediatePropagation()
          e.preventDefault()

          return this.modal('c-login')
        }
      },
      getHeadMenu (path) {
        this.close()

        if (this.userSex === path) {
          return undefined
        }

        return this.$store.dispatch('getHeadMenu', path)
          .then(response => {
            const {sex, tree} = response

            Cookies.set('_ga_nrt', sex, {expires: new Date(new Date() * 2)})

            this.$store.commit('SET_SEX', sex)
            this.$store.commit('SET_MENU', tree)

            if (path !== sex) {
              this.$router.replace(`/${sex}`)
            }
          })
          .catch(e => {
            if (e.code === 404) {
              this.$router.replace('/women')
            }
            else {
              throw e
            }
          })
      },
      logIn () {
        this.close()
        this.modal('c-login')
      }
    },
    created () {
      this.bus.$on('setBurger', val => {
        this.burgerOpened = val
      })
    }
  }
</script>

<template>
  <div :class="['g-aside-wrap', {'g-aside-wrap_opened': burgerOpened}]"
       @click.self="close">
    <aside class="g-aside">
      <section class="g-aside__head g-aside__section">
        <router-link class="g-aside__user"
                     v-if="userId"
                     to="/lk"
                     @click.native="close">
          <svg class="g-aside__user-pic"
               xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 24 24"
               width="24"
               height="24">
            <path d="M20 21v-2c0-2.2-1.8-4-4-4H8c-2.2 0-4 1.8-4 4v2"
                  style="fill: none; stroke: rgb(58, 62, 65); stroke-width: 2; stroke-linecap: round; stroke-linejoin: round;"></path>
            <circle cx="12"
                    cy="7"
                    r="4"
                    style="fill: none; stroke: rgb(58, 62, 65); stroke-width: 2; stroke-linecap: round; stroke-linejoin: round;"></circle>
          </svg>
          <div class="g-aside__user-name">{{userLogin}}</div>
        </router-link>
        <div class="g-btn g-btn_tiny g-aside__head-btn"
             @click="logIn"
             v-else>
          <span class="g-btn__txt">Войти</span>
          <div class="g-btn__ico">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 24 24"
                 width="24"
                 height="24">
              <path style="fill:none;stroke:#3a3e41;stroke-width:2;stroke-linecap:round;stroke-linejoin:round"
                    d="M20 21v-2c0-2.2-1.8-4-4-4H8c-2.2 0-4 1.8-4 4v2" />
              <circle style="fill:none;stroke:#3a3e41;stroke-width:2;stroke-linecap:round;stroke-linejoin:round"
                      cx="12"
                      cy="7"
                      r="4" />
            </svg>
          </div>
        </div>
        <router-link class="g-btn g-btn_tiny g-aside__head-btn"
                     to="/add-prod"
                     @click.native="onSoldBtnClick"
                     :event="userId ? 'click' : ''">
          <span class="g-btn__txt">Продать</span>
          <svg class="g-btn__ico"
               xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 24 24"
               width="24"
               height="24">
            <path style="fill:none;stroke:#3a3e41;stroke-width:2;stroke-linecap:round;stroke-linejoin:round"
                  d="M5 12h14M12 5l7 7-7 7" />
          </svg>
        </router-link>
      </section>
      <c-overflowed-list>
        <section class="g-aside__slider">
          <router-link :class="['g-aside__slider-item', {'g-active': sex.key === userSex}]"
                       :to="sex.url"
                       v-for="sex in sexes"
                       :key="sex.id"
                       @click.native="getHeadMenu(sex.key)"
                       active-class="">
            {{sex.name}}
          </router-link>
        </section>
      </c-overflowed-list>
      <section class="g-aside__section">
        <c-tree-group :data="menu"
                      :addRootAsItselfChild="true"
                      @click="close" />
      </section>
      <section class="g-aside__section">
        <router-link class="g-aside__link"
                     to="/brands"
                     @click.native="close">
          Бренды
        </router-link>
        <router-link class="g-aside__link"
                     to="/contacts"
                     @click.native="close">
          Контакты
        </router-link>
        <router-link class="g-aside__link"
                     to="/b"
                     @click.native="close">
          Блог
        </router-link>
        <router-link class="g-aside__link"
                     :to="`/d/${page.url}`"
                     v-for="page in flatDynPages"
                     :key="page.id"
                     @click.native="close">
          {{page.name}}
        </router-link>
      </section>
    </aside>
  </div>
</template>