<script>
  import Footer from './global/Footer.vue'
  import Header from './global/Header.vue'
  import SideMenu from './global/SideMenu.vue'
  import Modal from './freq/modals/Modal.vue'
  import Progress from './global/Progress.vue'

  export default {
    data () {
      return {
        burgerOpened: false
      }
    },
    asyncData (store, router, context, bus, promiseBus) {
      function returnNotFound (e) {
        if (context.url.slice(1) === '') {
          context.status.code = 301
          context.status.url = '/women'
        }
        else if (e.code === 404) {
          context.status.code = 404
        }
        else {
          throw e
        }
      }

      return promiseBus.set('auth', new Promise((resolve, reject) => {
        const url = context.url.slice(1),
              isSignedInPromise = store.dispatch('isSignedIn')
                .then(response => {
                  if (url === '') {
                    context.status.code = 301
                    context.status.url = '/women'

                    return reject(new Error())
                  }

                  // Authorized
                  const user = response.user

                  store.commit('SET_EMAIL', user.email)
                  store.commit('SET_LAST_NAME', user.lastname)
                  store.commit('SET_NAME', user.name)
                  store.commit('SET_MID_NAME', user.midname)
                  store.commit('SET_LOGIN', user.login)
                  store.commit('SET_ID', user.id)
                  store.commit('SET_ADDRESS', user.address)
                  store.commit('SET_PHONE', user.phone)
                  store.commit('SET_USERS_FAV_BRANDS', user.brands)
                  store.commit('SET_IS_CONFIRMED', user.is_confirmed)
                  // store.commit('SET_PVZ_ID', user.bb_pvz_id)
                  // store.commit('SET_USER_CARDS', user.cards)
                  store.commit('SET_TOKEN', context.token)

                  return true
                })
                .catch(() => {
                  const firstSex = store.state.common.sexes[0]

                  // Not authorized or url === ''
                  if (
                    router.currentRoute.meta.authRequired ||
                    url === ''
                  ) {
                    context.status.code = 301
                    context.status.url = firstSex.url

                    return reject(new Error())
                  }

                  context.setCookie.set('_ga_stnwlf', '')
                  context.setCookie.set('_ga_nrt', firstSex.value)

                  return false
                }),
              getHeadMenuPromise = store.dispatch('getHeadMenu', url)
                .then(response => {
                  const sex = response.sex

                  // If server respond with another sex
                  // than the user have in cookies
                  // we set sex cookies to server variant
                  if (sex !== context.sex) {
                    context.setCookie.set('_ga_nrt', response.sex)
                  }

                  store.commit('SET_SEX', sex)
                  store.commit('SET_MENU', response.tree)
                  store.commit('SET_HEAD_BRANDS', response.brands)
                })
                .catch(returnNotFound),
              getDynPagesPromise = store.dispatch('getDynPages'),
              getMetasPromise = store.dispatch('getMetas', url)
                .then(response => {
                  context.seo = response
                })
                .catch(returnNotFound)

        return resolve(Promise.all([
          isSignedInPromise,
          getHeadMenuPromise,
          getDynPagesPromise,
          getMetasPromise
        ])
          .then(resolveList => {
            const isUserAuthorized = resolveList[0]

            if (isUserAuthorized) {
              return store.dispatch('getCartAndFavHead')
            }
          }))
      }))
    },
    components: {
      'c-footer': Footer,
      'c-header': Header,
      'c-modal': Modal,
      'c-side-menu': SideMenu,
      'c-progress': Progress
    },
    computed: {
      pageNotFound () {
        return this.$route.meta.notfound
      }
    },
    watch: {
      '$route.fullPath' (newVal, oldVal) {
        if (newVal !== oldVal && !this.$isServer) {
          document.title = 'Интернет-магазин Bramble'
        }
      }
    },
    created () {
      this.bus.$on('setBurger', value => {
        this.burgerOpened = value
      })
    }
  }
</script>

<template>
  <div :class="['g-wrapper', {'g-wrapper_overflow-aside': burgerOpened}]">
    <c-progress/>
    <c-modal/>
    <c-side-menu v-if="!pageNotFound"/>
    <c-header v-if="!pageNotFound"/>
    <main class="g-main">
      <router-view/>
    </main>
    <c-footer/>
  </div>
</template>